*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #eee;
    color: black;
}
.container{
    width: 100%;
    /* height: 550vh; */
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;   
    background-color: rgba(255, 255, 255, 0.7);
    position: sticky;
    top: 0; 
}

.nav-bar .logo{
    width: 25%;

}
.nav-bar .logo a {
    text-decoration: none;
    color: red;
    font-size: 10px;
}
.nav-bar .responsive-nav{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;

}
.nav-bar .responsive-nav .nav-center{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
}
.nav-bar .responsive-nav .nav-right{
    display: flex;

} 
.nav-bar .responsive-nav .nav-center li a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 20px 20px;
    font-size: 12px;
    display: block;
    transition: all 0.3s;
}

.nav-bar .responsive-nav .nav-center li:hover a {
    background-color: black;
    color: white;
    /* transition: ; */
}

.nav-bar .responsive-nav .nav-center li a.active{
     background-color: black;
    color: white;
}


.nav-bar .responsive-nav .nav-right {
    display: flex;
}
.nav-bar .responsive-nav .nav-right .user{
    font-size: 24px;
    margin-left: 10px;
}
.nav-bar .responsive-nav .nav-right .search-box{
    height: 10%;
    width: 220px;
    display: flex;
    border: 1px solid #333333;
    padding: 0;
}
.nav-bar .responsive-nav .nav-right .search-box input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px o;

}


.nav-bar .responsive-nav .nav-right .search-box i{
    width: 20%;
    padding: 5px 0;
    border-left: 1px solid #333333;
    text-align: center;
    font-size: 20px;
    background-color: #1eba47;

}
.nav-bar .humburger {
    font-size: 30px;
    cursor: pointer;
    background-color: #333333;
    color: white;
    padding: 10px 15px;
    animation: humburger 1s linear infinite alternate;
    display: none;   

}

@keyframes humburger {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.2);
    }
}
   /* Img Container */
.img-container{
    width: 100%;
    height: 80vh;
    background-image: url(./img/IMG_8921.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-container .modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(248, 245, 245);
}
.img-container .modal h1 {
    font-size: 4.5em;
    text-shadow: 5px 5px 10px rgb(53, 53, 61);
    margin-bottom: 5px;

}

.img-container .modal h2 {
    font-size: 2.5em;
    margin-top: 5px;
    text-shadow: #948181;
}

.img-container .modal p {
    font-size: 20px;
    margin-top: 10px;
    text-shadow: #948181;
}
.img-container .modal a {
    display: block;
    text-decoration: none;
    color: #0b0a0a;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(243, 240, 247);
    border: 1px solid rgb(43, 41, 41);
    margin-top: 20px;
    transition: all 0.3s linear;

}
.img-container .modal a:hover {
    background-color: rgb(33, 179, 38);
    color: #242323;
    border-color: rgb(47, 44, 44);
}

@media (max-width:1280px){
    .nav-bar .logo{
    padding: 25px 0;
} 
    .nav-bar .humburger {
     display: block;
    } 

.nav-bar .responsive-nav {
    flex-direction: column;
    position: fixed;
    top: -70%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    transition: all 0.5s linear;
    /* transition: all 0.5s linear; */
}
.nav-bar .responsive-nav.active{
    top: 14%;

}
.nav-bar .responsive-nav .nav-center {
    flex-direction: column;
    width: 100%;
    display: block;
    text-align: center;
  } 
.nav-bar .responsive-nav .nav-right {
    margin-top: 10px;
    margin-bottom: 10px;
}
}
 


    
